name: on-push
on: [push]
env:
  MIX_ENV: test
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ['23.0.4']
        elixir: ['1.7.4', '1.8.2', '1.9.4', '1.10.4', '1.11.2']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-elixir@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - uses: rrainn/dynamodb-action@v2.0.0
        with:
            port: 8000
            cors: '*'
      - run: mix deps.get
      - run: mix compile
      - run: mix test
